.nav-mobile {
    display: none;
}

.nav-item {
    font-size: 20px;
}

@media (min-width: 320px) and (max-width: 599px) {
    .nav {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

}